//! **************************************************************************
// Written by: Map O.87xd on Tue Oct 24 10:14:07 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P127" LEVEL 1;
COMP "sp" LOCATE = SITE "P52" LEVEL 1;
COMP "onoff" LOCATE = SITE "P25" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

